*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: linear-gradient( to right,rgb(148, 137, 225), purple);
}

.table-container{
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading{
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: rgb(222, 222, 222);
  
}

 .table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 20px auto;
  
}

th{
  font-size: 20px;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color:rgba(148, 137, 225, 0.5)
}

td{
  font-size: 16px;
  padding: 18px;
  border: 1px solid rgb(256, 256, 256);
  color: white;
}

@media (max-width: 650px) {

  .heading{
    font-size: 30px;
  }

  thead{
    display: none;
  }

  .table, tbody, tr, td{
    display: block;
    width: 100%;
  }

  tr{
    margin-bottom: 25px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.311);
  }

  td{
    text-align: right;
    padding-left: 40%;
    position: relative;
  }

  td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 40%;
    padding-left: 15px;
    text-align: left;
    font-weight: 600;
  }
}

